.search-result{
    width: 100%;
    margin-top: 42px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    /* Search Filters */
        .search-filters {
            width: 100%;
            margin-right: 32px;
            margin-bottom: 15px;

           .location-form__title {
                margin: 30px 0Px;
                font-size: 14px;
                text-transform: uppercase;
                font-style: normal;
                font-weight: 700;
                line-height: 21px;
                letter-spacing: 0em;
                text-align: left;
                color: $lightGrey;
            }

            .city-input {
                height: 50px;
                border-radius: $borderRadius;
                padding: 0 1em;
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
                display: flex;
                flex-direction: row; 
                justify-content: space-between;
                align-items: center;
                margin-bottom: 40px;
                background-color: $white;
                .location-icon {
                    color: $lightGrey;
                }
                input {
                    border: none;
                    height: 100%;
                    background-color: transparent;
                    width: 100%; 
                    outline: none;
                    &::placeholder {
                        font-family: 'Roboto', sans-serif;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 14px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: $lightGrey;
                        padding-left: 10px;
                    }
                }
            }
        }





        
    /* Jobs List */
        .jobs-list {
            width: 100%;
            .job-item {
                height: auto;
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                margin-bottom: 32px;
                padding: 12px;
                background: #FFFFFF;
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
                border-radius: $borderRadius;
                .job-info {
                    margin-left: 16px;
                    flex: 2;
                }
                .company-image {
                    height: 90px;
                    width: 90px;
                    border: 1px solid $lightGrey;
                    border-radius: $borderRadius;
                }

                .company-name {
                    color: $darkBlue;
                    font-family: 'Roboto', sans-serif;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 14px;
                    letter-spacing: 0em;
                    text-align: left;
                    margin-bottom: 8px;
                }

                .job-title {
                    color: $darkBlue;
                    font-family: 'Roboto', sans-serif;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 21px;
                    letter-spacing: 0em;
                    text-align: left;
                    margin-bottom: 18px;
                }

                .other-info {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    flex-wrap: wrap;
                    .job-type {
                        
                        font-family: 'Roboto' , sans-serif;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 14px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: $darkBlue;
                        padding: 0.3em;
                        border: 1px solid $darkBlue;
                        border-radius: $borderRadius;
                        margin-bottom: 16px;
                    }
                    .job-time_location {
                        width: 100%;
                    }
                    .job-location , 
                    .publish-time {
                        font-family: 'Roboto' , sans-serif;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 14px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: $lightGrey;
                        .icon {
                            margin-right: 0.3em;
                        }
                    }
                    .job-location {
                        margin-right: 30px;
                    }
                }
            }
        }



        /*
            media queries 

            
        */

        @media (min-width: 870px)  { 

            .search-filters {
                flex: 1;
            }

            .jobs-list {
                flex: 3;

                .job-item {

                    .job-title  {
                        font-size: 18px;
                    }

                    .other-info {

                        .job-type {
                            margin: 0;
                        }

                        .job-time_location  {
                            width: 50%;
                            text-align: right;
                            padding-right: 1em;
                        }

                    }
                }
            }
        }

}