.searchbar-wrapper {
    height: 130px;
    border-radius: 8px; 
    background-image: url('../../assets/imgs/backgroundImg.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .search-form {
        width: 100%;
        margin: 0 1em;
        height: 50px;
        background-color: $white;
        border-radius: $borderRadius;
        padding: 0.2em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        input {
            height: 100%;
            margin: 0;
            padding: 0;
            border: none;
            color: $lightGrey;
        }

        .search-form__icon {
            color: $lightGrey;
            margin: 0 1em;
        }

        .text-input {
            flex: 2;
            outline: none;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding-left: 15px;
            &::placeholder {
                font-size: 12px;
                font-weight: 400;
                padding: 0;
            }
        }

        .button-input {
            background-color: $blue;
            padding: 0.2em 1.5em;
            margin-left: 15px;
            float: right;
            color: $white;
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
            border-radius: $borderRadius;
            font-size: 15px;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            &:hover {
                background-color: $onHoverBlue;
            }
        }
    }


    /*
        Media Query 
    */

    @media (min-width:  870px)  {
        .search-form {
            width: 700px;
            .button-input {
                padding: 0.2em 2.2em;
            }
        }
    }

    
}