@import "./normalize.scss";
@import "./variables.scss";

@import "./components//Header.scss";

@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700&display=swap" rel="stylesheet';

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    height: 100vh;
    margin: 0 auto;
    @media (min-width: 1024px) {
        max-width: 960px;
      }
      @media (min-width: 1216px) {
        max-width: 1152px;
      }
      @media (min-width: 1480px) {
        max-width: 1244px;
      }
}